        $greyFont: #555555;
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');

        * {
            padding: 0;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            box-sizing: border-box;
            outline: transparent;
        }

        .container {
            max-width: 1150px;
            width: 100%;
            margin: 0 auto;
        }

        .top-navbar {
            margin: 10px 0;

            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;
                li {
                    font-size: 20px;
                    color: $greyFont;
                    img {
                        margin: 0 5px;
                    }
                }
            }
        }

        nav {
            background-color: #E1E1E1;

            label {
                margin-right: 20px;
                font-size: 26px;
                display: none;
                width: 26px;
            }
            #toggle {
                display: none;
            }
            ul {
                display: flex;
                list-style-type: none;
                justify-content: center;
                li {
                    padding: 10px 0;
                    &:hover {
                        background-color: $greyFont;
                        a {
                            color: white;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $greyFont;
                        text-transform: uppercase;
                        font-size: 16px;
                        border-right: 1px solid $greyFont;
                        display: inline-block;
                        padding: 0 20px;
                    }
                    .last-time {
                        border: none;
                    }
                }
                .dropdown {
                    overflow: hidden;
                    .dropbtn {
                        font-size: 16px;
                        border: none;
                        outline: none;
                        color: $greyFont;
                        background-color: inherit;
                        font-family: inherit;
                        display: inline-block;
                        text-transform: uppercase;
                        padding: 0 10px;
                        border-right: 1px solid $greyFont;
                        cursor: pointer;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: $greyFont;
                        min-width: 160px;
                        margin-top: 10px;


                        a {
                            color: white;
                            text-decoration: none;
                            display: block;
                            padding: 10px;
                            border-right: 0;
                            border-radius: 0 !important;
                            text-transform: none;
                            font-size: 14px;

                            &:hover {
                                background-color: #E1E1E1;
                                color: $greyFont;
                                border-radius: 3px;
                            }
                        }
                    }
                    &:hover {
                        color: white;
                        border-radius: 3px 3px 0 0;
                        .dropdown-content {
                            display: block;
                        }
                        .dropbtn {
                            color: #fff;
                        }
                    }
                }
            }
        }


        #jumbotron {
            background-image: url("../images/jumbotron.jpg");
            background-size: cover;
            height: 550px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-position: center;

            .title-box {
                width: 30%;
                height: 45%;
                background-color: rgba(255, 255, 255, 0.6);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                color: black;
                p {
                    font-size: 20px;
                    text-transform: uppercase;
                }
                h1 {
                    font-size: 42px;
                    text-transform: uppercase;
                }
            }
        }

        .btn {
            background-color: $greyFont;
            width: 80px;
            height: 30px;
            border: none;
            color: white;
            cursor: pointer;
            border-radius: 3px;
            transition: 0.5s;

            &:hover {
                background-color: transparent;
                border: 2px solid $greyFont;
                color: $greyFont;
                font-weight: bold;
            }
        }

        #eggs {
            background-image: linear-gradient(to top, #efefef, #f2f2f2, #f5f5f5, #f9f9f9, #fcfcfc);
            .photo-eggs {
                display: flex;
                justify-content: space-around;
                padding-top: 50px;
                .photo {
                    text-align: center;
                    h2 {
                        font-size: 42px;
                        padding-top: 10px;
                    }
                    p {
                        font-size: 32px;
                    }
                    button {
                        background-color: $greyFont;
                        width: 80px;
                        color: white;
                        cursor: pointer;
                        height: 25px;
                        border: none;
                        margin-top: 15px;
                        margin-bottom: 80px;
                        transition: 0.5s;

                        &:hover {
                            background-color: transparent;
                            border: 2px solid $greyFont;
                            color: $greyFont;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        #about-us {
            background-image: url("../images/bg-about-us.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 550px;
            text-align: center;
            h2 {
                font-size: 32px;
                padding-top: 60px;
            }

            h3 {
                color: $greyFont;
                font-weight: 300;
            }

            p {
                text-align: center;
                font-size: 20px;
                color: $greyFont;
                padding-bottom: 20px;
            }
        }


        .line:after {
            content: "";
            display: block;
            border-bottom: 2px solid $greyFont;
            width: 70px;
            text-align: center;
            margin: 20px auto;
        }

        #services {
            .flex-services {
                display: flex;
                flex-wrap: wrap;
                div {
                    width: 50%;
                }
                img {
                    width: 100%;
                    vertical-align: middle;
                }
                .services-list {
                    display: flex;
                    align-items: center;
                    ul {
                        margin-left: 80px;
                        list-style-type: none;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;

                        li {
                            padding: 30px 0;
                            text-align: left;
                            display: flex;
                            img {
                                width: 50px;
                                height: 50px;
                                margin-right: 50px;
                            }
                        }
                    }
                }
                .services-production {
                    text-align: right;
                    padding: 50px 50px 0 0;
                    h2 {
                        font-size: 32px;
                        padding-bottom: 10px;
                    }
                    p {
                        line-height: 1.5;
                        margin-left: 5%;
                    }
                    button {
                        margin-top: 15px;
                    }
                }
                .services-technology {
                    text-align: left;
                    padding: 50px 0 0 50px;
                    h2 {
                        font-size: 32px;
                        padding-bottom: 10px;
                    }
                    p {
                        line-height: 1.5;
                        margin-right: 5%;
                    }
                    button {
                        margin-top: 15px;
                    }
                }
            }
        }

        .work-title {
            background-color: #F5F6F8;
            line-height: 4;
            h3 {
                color: $greyFont;
                text-align: center;
            }
        }

        #gallery {
            .gallery-image {
                display: flex;
                img {
                    width: 25%;
                    height: 250px;
                }
            }

            .button-flex {
                text-align: center;
                margin: 20px 0 60px 0;
                .btn-gallery {
                    background-color: $greyFont;
                    width: 130px;
                    height: 30px;
                    border: none;
                    color: white;
                    cursor: pointer;
                    border-radius: 3px;
                    transition: 0.5s;

                    &:hover {
                        background-color: transparent;
                        border: 2px solid $greyFont;
                        color: $greyFont;
                        font-weight: bold;
                    }
                }
            }
        }

        footer {
            background-color: #707070;
            .footer-nav {
                padding-top: 30px;
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    list-style-type: none;
                    li {
                        padding: 5px;
                        transition: 0.8s;

                        &:hover {
                            text-decoration: underline;
                        }
                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }

            .copyright {
                text-align: center;
                h4 {
                    padding-bottom: 70px;
                    line-height: 1.5;
                    color: white;
                }
            }
        }

        @media(max-width: 1550px) {
            #services {
                .flex-services {
                    .services-production {
                        padding: 20px 50px 0 0;
                    }
                    .services-technology {
                        padding: 20px 0 0 50px;
                    }
                }
            }
        }

        @media(max-width: 1199px) {
            #jumbotron {
                .title-box {
                    width: 50%;
                }
            }
            #about-us {
                height: auto;
                padding: 0 40px 10px 40px;
            }
            #services {
                .flex-services {

                    .services-list {
                        display: flex;
                        align-items: center;
                        ul {
                            margin-left: 50px;
                            list-style-type: none;
                            display: flex;
                            justify-content: flex-start;
                            flex-direction: column;

                            li {
                                padding: 15px 0;
                                text-align: left;
                                display: flex;


                                i {
                                    font-size: 30px;
                                    width: 70px;
                                    text-align: center;
                                    margin-right: 30px;
                                }
                            }
                        }
                    }
                    .services-production {
                        text-align: right;
                        padding: 10px 20px 0 0;
                        h2 {
                            font-size: 20px;
                            padding-bottom: 10px;
                        }
                        p {
                            line-height: 1.5;
                            font-size: 12px;
                        }
                        button {
                            margin: 5px 0;
                        }
                    }
                    .services-technology {
                        text-align: left;
                        padding: 10px 0 0 20px;
                        h2 {
                            font-size: 20px;
                            padding-bottom: 10px;
                        }
                        p {
                            line-height: 1.5;
                            font-size: 12px;
                        }
                        button {
                            margin: 5px 0;
                        }
                    }
                }
            }
        }




        @media(max-width: 991px) {
            header {
                .top-navbar {
                    display: none;
                }
                nav {
                    height: 50px;
                    padding-top: 0;
                    label {
                        display: inline-block;
                        cursor: pointer;
                        color: black;
                        font-size: 32px;
                        float: right;
                        clear: both;
                        transition: 0.3s;
                        &:hover {
                            color: white;
                        }
                    }

                    ul {
                        display: none;
                        text-align: center;
                        position: absolute;
                        width: 100%;
                        li {
                            border-bottom: 1px solid $greyFont;
                            padding: 10px 0;
                            background-color: #E1E1E1;
                            &:last-child {
                                border: none;
                            }

                            a {
                                text-align: center;
                                display: block;
                                font-size: 24px;
                                border: none;
                                color: $greyFont;
                            }
                        }
                        .dropdown {
                            .dropbtn {
                                border: none;
                                font-size: 24px;
                            }

                            .dropdown-content {
                                width: 100%;
                                position: relative;

                                a {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    #toggle:checked+ul {
                        margin-top: 50px;
                        display: block;
                    }
                }
            }
            #jumbotron {
                .title-box {
                    width: 70%;
                }
            }
            #eggs {
                .photo-eggs {
                    display: flex;
                    flex-wrap: wrap;
                    .photo {
                        img {
                            width: 30vw;
                        }
                        h2 {
                            font-size: 32px;
                        }
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
            #about-us {
                height: auto;
                padding: 0 100px 10px 100px;
                margin-bottom: 30px;
                p {
                    font-size: 16px;
                }
            }
            #services {
                .flex-services {
                    div {
                        width: 100%;
                        margin: 0 10px;
                    }
                    .services-list {
                        display: flex;
                        justify-content: center;
                        margin-top: 60px;
                    }
                    &:first-child {
                        img {
                            height: 300px;
                        }
                    }
                    .services-production {
                        text-align: center;
                        padding-right: 0;
                        h2 {
                            font-size: 24px;
                            padding-top: 60px;
                        }
                        p {
                            font-size: 14px;
                            margin: 0 100px;
                        }
                        button {
                            margin: 15px 0 60px 0;
                        }
                    }
                    .services-technology {
                        text-align: center;
                        padding-left: 0;
                        h2 {
                            font-size: 24px;
                            padding-top: 60px;
                        }
                        p {
                            font-size: 14px;
                            margin: 0 100px;
                        }
                        button {
                            margin: 15px 0 60px 0;
                        }
                    }
                     :nth-child(5) {
                        margin-top: 20px;
                    }
                }
            }
            #gallery {
                .gallery-image {
                    display: flex;
                    flex-wrap: wrap;
                    img {
                        width: 50%;
                        padding: 10px;
                    }
                }
            }
        }

        @media(max-width: 640px) {
            #jumbotron {
                .title-box {
                    width: 90%;
                }
            }
            #gallery {
                .gallery-image {

                    img {
                        width: 100%;
                        padding: 5px 10px;
                    }
                     :first-child {
                        padding-top: 0;
                    }
                }
            }

            #eggs {
                .photo-eggs {
                    display: flex;
                    flex-wrap: wrap;
                    .photo {
                        width: 100%;
                        img {
                            width: 50vw;
                        }
                    }
                }
            }
            #about-us {

                padding: 0 50px 10px 50px;
            }
            #services {
                .flex-services {

                    .services-list {
                        margin: 40px auto 0 auto;
                    }
                    .services-production {

                        p {
                            margin: 0 50px;
                        }
                    }
                    .services-technology {

                        p {
                            margin: 0 50px;
                        }
                    }
                }
            }
            footer {
                .footer-nav {
                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .copyright {
                    padding: 0 5px;
                }
            }
        }

        @media(max-width: 420px) {
            #about-us {

                padding: 0 25px 10px 25px;
            }

            #services {
                .flex-services {
                    div {
                        width: 100%;
                        margin: 0 10px;
                    }

                    .services-production {

                        p {
                            margin: 0 25px;
                        }
                    }
                    .services-technology {

                        p {
                            margin: 0 25px;
                        }
                    }
                }
            }
        }